@model IEnumerable<DAL.Models.AppFileModel>
@using ClientWebApp.Infrastructure

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<p>
    @Html.ActionLink("Upload File", "Create", new { @class = "btn  btn-xs" })
</p>
<table class="table table-striped">
    <tr>
        <th>File</th>
        <th>Author</th>
        <th>Download</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.GetUserName(item.AuthorId)
            </td>
            <td>
                @Html.ActionLink("Download File", "Download", new { fileId = item.Id },
                   new { @class = "btn btn-default" })
            </td>
            <td>
                @if (Html.GetUserName(item.AuthorId).ToString() == ViewBag.UserName || ViewBag.UserName == "Admin")
                {
                    using (Html.BeginForm("Delete", "Home", new { fileId = item.Id }))
                    {
                        <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                    }
                }
            </td>
        </tr>
    }

</table>